*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 10px;
}
.container{
    background-color: antiquewhite;
    padding: 5px  15px 20px;
    border: 2px solid blue;
    border-radius: 4px;
   
}

.mandatory{
    color: red;

}
input[type="text"]
,input[type="email"]
,input[type="number"]
,input[type="password"]
,input[type="date"],
select,
textarea{
width: 100%;
padding: 10px;
font-size: 20px;
border: 2px solid gray;
border-radius: 8px;
margin: 10px;
}
fieldset{
    background-color: white;
    border-radius: 8px;
    border: 2px solid gray;
}
.main_heading{
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 1px  5px black;

}
input[type="submit"]{
    background-color: rgb(41, 233, 131);
    padding: 12px 20px;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}
input[type="submit"]:hover{
    background-color: aquamarine;
}